*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body{
    background: #fefefe;
}

header{
    width: 100%;
    height: 80px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger{
    display: none;
}

.nav-bar.ativo{
    height: 450px;
}

.nav-bar.ativo ul{
    opacity: 1;
}

.nav-bar ul{
    display: flex;
}


.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #000;
    background: #FFF;
}

.nav-bar ul li a.ativo{
    color: #000;
    background: #FFF;
}