.container{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.container h1, p{
    margin: 0;
}

.flex-center{
    display: flex;    
    justify-content: center;
}

.box{
    background-color: aquamarine;    
    border-radius: 10px;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}
